<!DOCTYPE html>
<html>
<head>
  <title>TU Class Schedule</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- Will update icon later -->
  <link rel="icon" href="https://communications.tulane.edu/sites/g/files/rdw811/f/pictures/%C6%92%C6%92TUshield_2c.png">
  
</head>
<body>

<%= yield %>

</body>
</html>
